<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Подключаем пропертис-->
    <context:property-placeholder location="application.properties"/>

    <!--Регистрация бина-->
    <!--Инъекция через сеттер. В классе должен быть сеттер, имя проперти =
    имя сеттера минус 'set' с маленькой буквы-->
    <bean id="dogBean"
          class="spring.greva.ioc_di.xml_config.models.impl.Dog"
          scope="singleton"
          init-method="init"
          destroy-method="destroy">
        <property name="name" value="${xml.config.dog.name}"/>
    </bean>

    <bean id="friendBean"
          class="spring.greva.ioc_di.xml_config.models.impl.Person"
          scope="prototype">
        <constructor-arg ref="catBean"/>
        <constructor-arg value="${xml.config.friend.name}"/>
    </bean>

    <bean id="catBean"
          class="spring.greva.ioc_di.xml_config.models.impl.Cat"
          scope="prototype">
        <property name="name" value="${xml.config.cat.name}"/>
    </bean>

    <!--Внедрение через конструктор + внедрение черещ сеттер-->
    <bean id="personBean"
          class="spring.greva.ioc_di.xml_config.models.impl.Person"
          scope="prototype">
        <constructor-arg ref="dogBean"/>
        <constructor-arg value="${xml.config.person.name}"/>
        <property name="friend" ref="friendBean"/>
    </bean>
</beans>